<!-- board/templates/board/snippets/pagination.html -->

{% load url_replace %}

{% if is_paginated %}

<nav>
{% if page_obj.has_previous %}
<a href="?{% url_replace request 'page' page_obj.previous_page_number %}">BACK</a>
{% endif %}

{% for num in paginator.page_range %}
    {% if page_obj.number == num %}
    <span>{{ num }}</span>
    {% else %}
    <a href="?{% url_replace request 'page' num %}">{{ num }}</a>
    {% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a href="?{% url_replace request 'page' page_obj.next_page_number %}">NEXT</a>
{% endif %}
</nav>

{% endif %}